.footer {
  display: flex;
  margin-bottom: 0.875rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  color: black;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & > p {
    text-align: center;
  }
}
