@use "../../../assets/scss/abstracts/" as *;

.btn {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #fde047;
  border-radius: 5px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  color: #854d0e;

  &:hover {
    outline: 1px solid #854d0e;
  }

  @include md {
    font-size: 1rem;
  }
}
